.welcome {
  max-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;

  &__bg {
    background: url('../../../public/background_round.PNG') no-repeat center/cover;
    position: absolute;
    inset: 0;
    min-height: 100vh;
    z-index: -1;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    padding: 1rem;
  }

  &__logo {
    font-size: 5rem;
    font-weight: 900;
    line-height: 0.8;
    padding-top: 3rem;
    margin-bottom: 1rem;

    span {
      display: block;
    }

    .first {
      color: #006C84;
    }

    .second {
      color: #f26b1d;
    }

    .third {
      color: #53AAB8;
    }
  }

  &__art_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 24rem;
  }

  &__art {
    width: 100%;
    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  &__button {
    font-family: "Baloo 2", sans-serif;
    margin: 1rem 0;
    padding: 1.5rem 6rem;
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    background-color: #f26b1d;
    border: none;
    border-radius: 9999px;
    cursor: pointer;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.15);
    transition: background-color 0.2s ease;

    &:hover {
      background-color: darken(#f26b1d, 5%);
    }
  }
}