.game-logo {
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 0.9;
  text-align: center;
  margin-bottom: 1rem;

  span {
    display: block;
  }

  .first { color: var(--color-logo-blue-first); }
  .second { color: var(--color-logo-orange-second); }
  .third { color: var(--color-logo-teal-third); }
}


.round-info {
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.category-tile {
  background-color: #FFF4B2;
  border-radius: 1.5rem;
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  img {
    width: 6rem;
    height: 6rem;
    object-fit: contain;
    flex-shrink: 0;
  }

  span {
    text-align: center;
    font-weight: 700;
    font-size: 2.5rem;
    word-break: break-word;
    text-align: center;
    line-height: 1.2;
  }
}


.letter-tile {
  background-color: #49A8AD;
  color: white;
  width: 7rem;
  height: 7rem;
  border-radius: 1.5rem;
  font-size: 4rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}


.shuffle-btn {
  display: block;
  margin: 2.8rem auto;
  background-color: #F26A3E;
  color: white;
  padding: 1rem 3rem;
  font-size: 1.8rem;
  border: none;
  border-radius: 50px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: #d9552b;
  }
}

.round-number {
  font-size: 4rem;
  font-weight: bold;
  color: #144552;
  text-align: center;
}

.next-round-btn {
  display: block;
  margin: 2rem auto 2rem;
  background-color: #144552;
  color: white;
  padding: 1rem 3rem;
  font-size: 1.8rem;
  border: none;
  border-radius: 50px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: #0d363f;
  }
}

.countdown-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('../../../public/background_round.PNG');
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}


.countdown-number {
  font-size: 12rem;
  font-weight: bold;
  color: #144552;
  animation: pop 0.5s ease;
}

@keyframes pop {
  0% {
    transform: scale(0.6);
    opacity: 0.2;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.game-page {
  //min-height: 100vh;
  background-color: #fddbb2;
  background-image: url('../../../public/background_round.PNG');
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  background-attachment:fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 3.5rem 2rem;
}


.winner-selector {

  text-align: center;
  max-width: 400px;

  label {
    display: block;
    font-size: 2rem;
    color: var(--color-button-dark);
    font-weight: 600;
  }

  .player-dropdown {
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 1rem 1.5rem;
    font-size: 1.3rem;
    border-radius: 3rem;
    border: none;
    background: var(--color-tile-yellow);
    color: var(--color-text-dark);
    font-family: inherit;
    cursor: pointer;
    font-weight: 600;
    appearance: none;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 1.5rem center;
    background-size: 1.5em;
    padding-right: 3rem;
  }
}

.top-up-btn {
  display: block;
  margin: 1rem auto 0.5rem;
  background: var(--color-button-orange);
  color: white;
  border: none;
  border-radius: 50px;
  padding: 0.7rem 2rem;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &:hover:not(:disabled) {
    opacity: 0.9;
  }
}


.score-table {
  margin-top: 1rem;
  background: var(--color-tile-teal);
  padding: 0.5rem 1.5rem;
  width: 90%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2rem;

  .score-list {
    padding: 0;
  }

  .score-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);

    &:last-child {
      border-bottom: none;
    }

    .player-info {
      display: flex;
      align-items: center;
      gap: 4rem;
      font-size: 2rem;
    }

    .player-score {
      font-size: 1.8rem;
      font-weight: bold;
    }
  }
}